body{
	margin: 0;
}
.clear{
	clear: both;
}
.out{
	/*width设置为100%，右边会顶到边，出现横滚动条*/
	/*width: 100%;*/
	border: 1px solid #00f;
	margin: 10px;
	padding: 20px;
	/*overflow可清除浮动*/
	overflow: hidden;
}
.left{
	background-color: #555;
	float: left;
	border: 1px solid #f00;
	width: 200px;
	/*设置display属性为内联表格，顶部对齐，但是不能靠右侧布局*/
	/*display: inline-table;
	vertical-align: top;*/
}
.center{
	background-color: #aaa;
	border: 1px solid #0f0;
	margin-left: 240px;
	margin-right: 160px;
	min-width: 500px;
}
.right{
	background-color: #eee;
	float: right;
	border: 1px solid #f00;
	width: 120px;
}


.photo{
	width: 80px;
	height: 80px;
	margin: 20px;
}
.left span{
	float: right;
	margin-top: 20px;
	margin-right: 10px;
}

.right img{
	width: 80px;
	height: 80px;
	/*将图片设置为block块级元素，不然默认边距*/
	display: block;
	margin: 20px 20px 20px 20px;
}

