
div{
	margin: 0;
	padding: 0;
}
body{
	background-color: #aaa;
}
img,span{
	border: 1px solid #000;
}
.clear{
	clear: both;
}
.main{
	position: relative;
	left: 50%;
	margin-left: -490px;
	width: 890px;
	height: 1386px;
	padding: 0 45px 0 45px;
	background-color: #fff;
}
header{
	border: 1px solid #f00;
	position: relative;
}
header div{
	width: 110px;
	height: 61px;
	background-color: #d45d5c;
	
	/*text-align: center;*/
	/*设置行高也可以调节文字垂直位置*/
	/*line-height: 90px;*/
}
header a{
	margin-left: 10px;
	position: absolute;
	bottom: 5px;
	font-family: "黑体";
	font-size: 12px;
	color: #fff;
}
header span{
	font-size: 12px;
	color: #d45d5c;
	font-family: "黑体";
	vertical-align: bottom;
	position: absolute;
	bottom: 0;
	right: 0;
}
header hr{
	width: 892px;
	color: #938e8c;
	position: absolute;
	bottom: 0;
	margin: 0;
	border: none;
	border-top: 2px solid #000;;
}
.banner{
	border: 1px solid #f00;
	height: 600px;
	margin-top: 20px;
}
.banner-left{
	float: left;
	/*background-image: url(1.png);*/
}
.banner img:nth-child(1){
	position: absolute;
}
.green{
	width: 191px;
	height: 300px;
	background-color: #0f0;
	opacity: 0.5;
	float: left;
}
.red{
	width: 191px;
	height: 300px;
	background-color: #f00;
	opacity: 0.5;
	/*margin-left: 200px;*/
	margin-left: 450px;
	
}

.banner-right{
	float: right;
	width: 203px;
	border: 1px solid #f00;
	/*clear: right;*/
}
.banner-right hr{
	width: 203px;
	border: none;
	margin: 0;
	border-top: 2px solid #111;
}
.banner-right div:nth-child(-n+3){
	font-family: "微软雅黑";
	font-size: 20px;
	color: #000;
	line-height: 40px;
	text-decoration: underline;
}
.banner-right div:nth-child(-n+3) span{
	font-variant: small-caps;
}
.banner-right div:nth-child(4){
	font-family: "楷体";
	font-size: 12px;
	color: #676767;
	line-height: 10px;
}
.banner-right div:nth-child(5){
	font-family: "微软雅黑";
	font-size: 116px;
	color: #75b86b;
	font-style: oblique;
	font-weight: bold;
}
.banner-right div:last-child{
	position: relative;
}
.banner-right div:last-child span:nth-child(1){
	font-family: "微软雅黑";
	color: #cc8091;
	font-size: 55px;
}
.banner-right div:last-child span:nth-child(2){
	font-family: "微软雅黑";
	color: #cc8091;
	font-size: 21px;
	position: absolute;
	bottom: 20px;
}
.banner-right div:last-child span:nth-child(3){
	font-family: "微软雅黑";
	color: #cc8091;
	font-size: 12px;
	position: absolute;
	bottom: 10px;
}
.banner-what{
	border: 1px solid #f00;
	clear: left;
	width: 200px;
	height: 200px;
	float: left;
}
.banner-when{
	border: 1px solid #f00;
	width: 200px;
	height: 200px;
	float: left;
}
.banner-how{
	border: 1px solid #f00;
	width: 200px;
	height: 200px;
	float: left;
}
.content-left{
	border: 1px solid #f00;
	height: 500px;
	float: left;
}
.content-title{
	border: 1px solid #f00;
	width: 500px;
}
.content-text{
	border: 1px solid #f00;
	width: 500px;
}
.content-text img{
	float: right;
	margin-top: 10px;
}


.content-right{
	float: right;
	border: 1px solid #f00;
}
.content-image{
	/*float: left;*/
}
.content-image img{
	position: absolute;

}
.content-image div{
	width: 458px;
	height: 50px;
	background-color: #000;
	opacity: 0.7;
	border: 1px solid #0f0;
	color: #fff;
	float: left;
	margin-top: 207px;
}
.content-list{
	border: 1px solid #f00;
	clear: left;
	float: left;
	/*margin-top: 300px;*/
}
.triangle{
	/*border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-top: 0;*/
	width: 0;
	height: 0;
	border: 5px solid transparent;
	border-bottom: 10px solid #f00;
	padding-bottom:5px;

}
.content-list div:nth-of-type(-n+3){
	margin-left: 20px;
	
}

footer{
	clear: left;
	border: 1px solid #f00;
	height: 50px;
}

